@media screen and (max-width:480px) and (min-width:341px) {
	
	#traitTitleSlide { 
		width: 470px !important;
	}
	.jaugeContainer {
		bottom: 7px;
		width: 50%;
		height: 6px;
	}

	#imgStreak {
		left: 21%; 
		top: 20%; 
		width: 25px;	
	}
	#streakNumber {
		left: 24%; 
		top: 21.5%; 
	}
	#header {
		/*  A la base il n'y avait pas de height  */
		height: 32vh;
	}

	#cardAnim {
		left: 2.2%;
		width: 6em !important;
		bottom: 44.3%;
	}





	.w3-modal{z-index:3;display:none;position:fixed;left:0;top:0;width: 100% !important;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4);
		display: block;
		position: absolute;
		margin: 0;
		padding-top: 20%;
	}
	
	#phaseMiserAlert {
		font-size: 4.5em;
	}


	

	#traitUnderlineInverse {
		position: fixed;  
		top: 52%; 
		-ms-transform: translateY(-50%); 
		transform: translateY(-50%); 
		left: 50%; 
		-ms-transform: translateX(-50%); 
		transform: translateX(-50%);
	
	
		height: 5px;
		background-color: var(--color-miserAlert);
		width: 22%;
		/*  Mettre plutot une valeur dure correspondant à la longueur de l'alert (qui bouge pas?)  */
		/* width: 6%; */
		border-radius: 1px;
	
		opacity: 0;
		animation: traitUnderlineSlide 0.6s 0.65s forwards ease-out, traitUnderlineSlideLent 1.2s 1.25s forwards linear;
	}
	@keyframes traitUnderlineSlide {
		from {
			opacity: 0;
			filter: blur(3px);
			left: 105%;
		}
		to {
			opacity: 1;
			filter: blur(0px);
			left: 52%;
		}
	}
	@keyframes traitUnderlineSlideLent {
		from {
			left: 52%;
		}
		to {
			left: 50%;
		}
	}

	#traitUnderlineInverseChoix {
		position: fixed;  
		/* top: 52%;  */
		top: 53%;
		-ms-transform: translateY(-50%); 
		transform: translateY(-50%); 
		left: 50%; 
		-ms-transform: translateX(-50%); 
		transform: translateX(-50%);
	
	
		height: 5px;
		background-color: var(--color-miserAlert);
		width: 22%;
		border-radius: 1px;
	
		opacity: 0;
		/* animation à ajouter via une classe car anim pas native */
		/* animation: traitUnderlineSlideChoix 0.6s 0.65s forwards ease-out, traitUnderlineSlideLentChoix 2s 1.25s forwards linear; */
	}
	.traitUnderlineInverseChoix1 {
		animation: traitUnderlineSlideChoix 0.6s forwards ease-out, traitUnderlineSlideLentChoix 1.2s 0.60s forwards linear;
	}
	@keyframes traitUnderlineSlideChoix {
		from {
			opacity: 0;
			filter: blur(3px);
			left: 105%;
		}
		to {
			opacity: 1;
			filter: blur(0px);
			left: 52%;
		}
	}
	@keyframes traitUnderlineSlideLentChoix {
		from {
			left: 52%;
		}
		to {
			left: 50%;
		}
	}
	
	



	/* .topLineDiv {
		text-align:center;
		display: inline-flex;
	
		color: white;
		font-size: 1.1em;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	} */

	.userAdmin {
		height:60px;
	}

	.historiqueLineAdmin {
		list-style-type:none;
		width: 96%;
		margin: 1% auto;
	}


	.historiqueLine {
		padding: 12px 0;
		border-radius: 8px;
		width: 90%;

		/* Séparation lignes:  */
		margin: 12px auto;
	}

	.traitBlancHistoriqueLineHaut {
		position: relative;
		bottom: 12px;
	}
	.traitBlancHistoriqueLineBas {
		/* margin-top: 11px; */
	}

	#traitBlancHistorique {
		width: 80%;
	}

	.resultatCasHistorique {
		font-size: 1em;
	}

	.dateHistorique {
		margin-top: 11px;
	}

	.gainHistorique {
		font-size: 1.0em;
	}

    .slider {
        width: 90%; 
    }

    .paragrapheHistoriqueLine {
        bottom:0px; 
    }



	#newGame:hover {
		font-size: 0.9em !important;
	}

	body {
		font-size: 100%;
	}
	
	#ratioDiv {
		text-align: center;
		position: absolute;
		/* margin-top: 125px; */

		top: 32%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		font-size: 27px;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}

	#ratioLine {
		font-size: 1.8em;
	}
	
	#classementDiv {
		text-align:center;
		position: absolute;
		/* margin-top: 330px; */
		top: 70%;
		left: 50%;
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	
		color: white;
		font-size: 27px;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	}
	

    #newGame {
        padding: 20px 40px;
    }
	#title2 {
        /* font-size: 9.8vh; */
		font-size: 9.3vh;
    }
	#jouer {
        font-size: 1.5em;
    }
	.onglet button {
        font-size: 1.4em;
    }






	.imgPartie {
		width: 7em;
	} 

	.imagesSou {
		height: 55px;
		position: absolute;
		bottom: -2px;
		opacity: 0.9;
	}

	#retourArriereWhite {
		width: 45px;
		opacity: 0.7;
		margin-top: 12px;
	}

	input,
	textarea,
	button,
	select,
	a {
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}

	.text {
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		color: rgb(223, 204, 204);
		letter-spacing: 1px;
		font-size: 1em;
	
		position: relative;
		bottom: 0px;
	
		/* Adapter la Couleur du jeton sur la valeur hover (PC) */
		color: #e5b815;
	}

	#traitLumineuxFooter {
		width: 75% !important;
	}

	.container .valeurs {
		left: 45% !important;
		top: -16px !important;
		opacity: 1;
	}


	.deckAnimStyle {
		width: 75px;
		position: absolute;
		left: 17%;
		top: 21%;
		border-radius: 8px;
	}


	#tokenChipsContainer {
		top: 10px;
		position: relative;
		/* left: 4%; */
	}



	.pokerChips {
		width: 4.5em;
		height: 4.5em;
		/* margin: 0.5em 0.3em; */
		margin: 0em 1em 1em 0.3em;
	}


	#hit {
		/* margin-top: 18px; */
		position: relative;
		top: 20px;
		
		width: 100px;
		height: 100px;
	}
	#double {
		/* margin-top: 18px; */
		position: relative;
		top: 20px;
		
		width: 100px;
		height: 100px;
	}
	#stand {
		/* margin-top: 18px; */
		position: relative;
		top: 20px;

		width: 100px;
		height: 100px;
	}

	/* #soundToggleButton {
		margin-left: 4px;
		left: 2% !important;
		font-size: 1.5em !important;
	} */

	/* #speedToggleButton {
		left: 9% !important;
		font-size: 1.3em !important;
	} */

	#list {
		margin-top: 6px;
	}

	#deckContainer {
		/* left: 5%;  */
		left: 1%;
		bottom: 43%; 
		height: 187px;

		/* border: 3px solid rgba(223, 204, 204, 0.2); */

        padding: 6px 8px;
	}

	#parametresPartieDiv {
		/* bottom: 48%; */
		bottom: 49%;
		transform: translateY(49%);

		/* right: 5%; */
		/* right: 2%; */
		right: 0%;
	}


	.resultatTextWin {
		top: 23%;
	}
	.resultatTextBust {
	}
	.resultatTextBJ {
		text-shadow: -3px 3px 0px #e600dd, -6px 6px 0px #01cccc, -9px 9px 0px #bd0000;
	}




	#backgroundButtonContainer {
		opacity: 0.8;
		left: -70px;
		top: 165px;
		/* border: 1px solid rgba(223, 204, 204, 0.4); */
		height: 60px;
	}
	#backgroundToggleImage {
		margin-bottom: 2px;
		margin-left: 18px;
		width: 40px;
	}

	#choixStand {
		position: relative; 
		top:20px; 
		color: rgba(239, 59, 46, 1); 
		font-weight: bold; 
		font-size: large;
	}
	#choixHit {
		position: relative; 
		top:20px; 
		/* color: rgba(44, 252, 3, 0.8);  */
		color: rgb(3 252 251 / 80%); 
		font-weight: bold; 
		font-size: large;
	}
	#choixDoubler {
		opacity: 0; 
		position: relative; 
		top:20px; 
		color: rgba(252, 227, 3, 0.8); 
		font-weight: bold; 
		font-size: large;
	}

	#scoreCroupier {
		top: 0px;
		font-size:2em;
	}
	#scoreJoueur {
		bottom: 450px;
		font-size:2em;

	}
	#joueur {
		bottom: 250px;
		height: 168.5px;
	}

	.waviy {
		position: relative;
		top: 25%;
	  }



	#soundButtonContainer {
		opacity: 0.8;
		left: -70px;
		top: 90px;
		/* border: 1px solid rgba(223, 204, 204, 0.4); */
		height: 60px;
	}
	#speedButtonContainer {
		opacity: 0.8;
		left: -70px;
		top: 15px;
		height: 60px;
	}

	#soundToggleImage {
		margin-top: 2px;
		margin-left: 17px !important;
		width: 55px;
	}
	#speedToggleImage {
		margin-top: 1px;
		margin-left: 13px;
		width: 60px;
	}

	/*  active avec transition ease in-out (genre ça fait la transition et puis inverse) */

	.imagesSouResultat {
		height: 60px; 
		/* position: absolute; 
		bottom: 40px; */
		opacity: 0.9;
	}

	#container1 a {
		font-size: 1.9em;
	}

	
	#separateur {
		/* Modification width pour anim a faire avec un addClass (et propriété width !important?) */
		/* height: 115px; */
		/* width: 70%; */

		position: absolute;
		top: 48%;
		left: 0;
		right: 0;

		/* width: 3px;
		animation: resultatContainerSlide 1.3s ease-in-out 0.3s normal forwards; */
	}
	/* @keyframes resultatContainerSlide {
		from {
			width: 2%;
		}
		to {
			width: 70%;
		}
	} */
	
	.separateurContainerWidthAnim {
		height: 0px;
		width: 0.5%;
		animation: resultatContainerSlide1 0.4s ease-in-out 0.1s normal forwards, 
			resultatContainerSlide2 0.5s ease-in-out 0.5s normal forwards !important; 
	}
	@keyframes resultatContainerSlide1 {
		from {
			height: 0px;
		}
		to {
			height: 115px;
		}
	}
	@keyframes resultatContainerSlide2 {
		from {
			width: 0.5%;
		}
		to {
			width: 65%;
		}
	}

	#relancer {
		position: absolute;
		/* margin-left: 58px;
		margin-top: 21px; */
		right: 5%;
		bottom: 15%;
		font-size: 2em;
		padding: 10px 15px 10px 15px;
	}

	h1 {
		margin-block-end: 0.3em;
	}

	.styleSeparateurBust {
		/* Resizer l'image (add autre URL) */
		/* background-image: url(Images/boomPngMobile.png), linear-gradient(-45deg, rgba(34,0,13,1) 0%, rgb(181 42 42) 21%, rgb(249 156 175) 42%, rgba(14,100,107,1) 71%, rgba(36,46,87,1) 100%); */
		background: linear-gradient(-45deg, rgba(34,0,13,1) 0%, rgb(181 42 42) 21%, rgb(249 156 175) 42%, rgba(14,100,107,1) 71%, rgba(36,46,87,1) 100%);
	}
	/* .styleSeparateurWin {
		background-image: url(""), linear-gradient(-45deg, rgba(36,85,87,1) 48%, rgba(115,9,50,1) 48%, rgba(36,85,87,1) 50%, rgba(115,9,50,1) 51%);
	}
	.styleSeparateurLose {

		background-image: url(""), linear-gradient(-45deg, rgba(117,5,48,1) 0%, rgba(146,14,42,1) 33%, rgba(13,88,94,1) 67%, rgba(26,32,57,1) 100%);

	} */


	.w3-block{
		display:block;
		width:50%; 
		margin: 0 auto;
		padding: 11px 16px !important;
	}







	#croupier {
		/* A MODIFIE DANS MEDIAQUERIES (Height-responsive) */
		/* margin-top: 10px; */
		margin-top: 12px;
		/* FIN */
	}

	#imgCardDeck {
		width: 6em;
	}

	#scoreContainer {
		padding: 10px 5px 15px 5px;
		/* margin: 0 50px; */
		position: absolute;
		right: 10px;
		top: 65px;
		/* width: 30%; */
		text-align: center;
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	
		/* FLEX WRAP AVEC WIDTH 100% des elements inside pour retour ligne et center */
		display: flex wrap;
	
		border: 2px solid rgba(255,255,255,0.2);
		border-radius: 5px;

		color: rgba(223, 204, 204, 0.5);
	}
	h2 {
		font-size: 1.8em;
		margin-block-end: 0.1em;
	}
	#scoreVar {
		font-size: 1.5em;
	}
	#scoreHighLow {
		margin-bottom: 10px;
	}


	#infanticide {
		margin: 0 0 0 0; 
		font-size: 2em;
	}






	#container3 {
		height: 140px;
	}




	
	#textDistribution {
		width: 100%;
		font-size: 2em;
		padding: 17px 0 29px 0 !important;
	}


}